/* COLOR  */
.dash-div,
.first-container,
.btn.more-food:hover,
.btn.back-to-details:hover,
.btn.back-to-dashboard:hover {
    background-color: #ececea;
}

.first-container-header,
.btn.first-container-text:hover,
.btn.more-food,
.second-col-header,
.log-diet-link a,
.btn.back-to-details:hover,
.btn.back-to-dashboard:hover {
    color: #a226cc;
}

.first-container-sub-header {
    color: #9ca3af
}

.notification-number,
.today-container,
.btn.first-container-text,
.btn.more-food:hover,
.btn.back-to-details,
.btn.back-to-dashboard {
    background-color: #a226cc;
    color: white;
}

/* COLOR END */


/* PHONE MEDIA QUERY */
.phone {
    display: block;
}

.pc {
    display: none;
}

/* HEADER  */
.dash-div {
    padding: 1rem 1rem 2rem;
}

.navbar {
    border-radius: 12px;
    width: 90%;
    margin: auto;
}

.navbar-username {
    display: inline;
    margin-left: .5rem;
    font-size: 1.4rem;
    font-weight: 500;
    color: #a226cc;
}

.navbar-div-2 {
    padding-right: 1rem;
}

.user-gif {
    width: 1.5rem;
}

/* SEARCH BAR  */
.form {
    position: relative;
    width: 90%;
    margin: auto;
}

.form .fa-search {
    position: absolute;
    top: .5rem;
    left: 1rem;
    color: #9ca3af;
}

.form .nav-mic {
    position: absolute;
    right: 1rem;
    top: .2rem;
    padding: 2px;
    border-left: 1px solid #d1d5db;
}

.nav-mic i {
    padding-left: .8rem;
}

.form-input {
    height: 2rem;
    text-indent: 2.2rem;
    border-radius: 12px !important;
}

.form-input:focus {
    box-shadow: none;
    border: none;
}

/* SEARCH BAR  END*/

.notification-number {
    display: inline;
    padding: .1rem .6rem .3rem;
    margin-left: .2rem;
    border-radius: 6px;
}

/* FIRST CONTAINER  */
/* FIRST CONTAINER COL-1 START */
.first-container-gif {
    width: 70%;
    margin: 0 15%;
}

.first-container-header-div {
    text-align: center;
    margin-bottom: 10%;
}

.first-container-header {
    font-size: 1.4rem;
    font-weight: 500;
}

.first-container-sub-header {
    font-size: .9rem;
    display: block;
    font-weight: 400;
}

.btn.first-container-text {
    margin: 0;
    font-weight: 500;
    padding: .2rem .8rem;
}

.btn.first-container-text:hover {
    background-color: white;
    border: 1px solid #a226cc;
    margin-right: 5%;
}

.fa-arrow-right {
    margin-left: .2rem;
    font-size: .7rem;
}

/* LEARN MORE  */
.learn-more-div {
    padding: 5% 0;
}

.calory-eaten-div {
    padding: 4%;
}

/* LEARN MORE END */

/* CALORY EATEN START  */
.calory-eaten-header {
    font-weight: 500;
}

.calory-eaten-card {
    margin-top: 5%;
}

.calory-eaten-text {
    margin-top: .4rem;
    font-weight: 500;
}

.calory-eaten-type {
    font-size: .8rem;
}

.calory-eaten-calories {
    float: right;
    font-size: .9rem;
}

/* CALORY EATEN END  */

/* LOG DIET START  */
.col-12.log-diet-col {
    background-color: #a226cc;
    color: white;
    border-radius: 6px;
    padding: 5%;
    margin: 10% 0;
}

.log-diet-img {
    width: 90%;
}

.log-diet-text {
    font-size: .9rem;
    text-align: justify;
}

.log-diet-link a {
    text-decoration: none;
    float: right;
    font-weight: 400;
    color: #ececea;
}

.graph-image {
    width: 60%;
    margin: 5% 20% 10%;
}

/* LOG DIET ENDS  */

/* SECOND CONTAINER  */
.second-container-div {
    margin: 15% 0;
}

.second-container-header {
    padding: 0 3%;
}

.second-container-header {
    font-size: 1.4rem;
    font-weight: 500;
}

.food-header {
    width: 2rem;
    display: inline;
    padding-bottom: .2rem;
}

.btn.more-food {
    float: right;
    display: inline;
    font-size: .8rem;
}

.btn.more-food,
.btn.back-to-details,
.btn.back-to-dashboard:hover {
    border: 1px solid #a226cc;
}

.fa-chevron-down {
    font-size: .8rem;
    margin-left: .4rem;
}

.food-types {
    padding: 5% 3% 0;
}

.btn.back-to-details,
.btn.back-to-dashboard {
    margin-top: 5%;
}

/* SECOND CONTAINER END */

/* CAROUSEL START */
.col-10,
.slider-col {
    padding: 0;
}

.slider {
    position: relative;
    overflow: hidden;
    padding-left: .5%;
}

.slider-inner {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    position: relative;
    transition: right .5s;
}

.slider-item {
    flex-basis: 30%;
    flex-shrink: 0;
    display: block;
}

.food-button.btn {
    align-items: center;
    justify-content: center;
    border: 1px solid #9ca3af;
    font-size: .6rem;
    width: 3.2rem;
}

.food-button.btn:hover {
    background-color: #9ca3af;
    border: none;
    color: white;
}

.button-food-icon {
    padding: .5rem 0 1.5rem 0;
    font-size: 1.2rem;
}

.control {
    margin-top: 40%;
    float: right;
}

#next {
    outline: none;
    background-color: transparent;
    font-size: 1.5rem;
    border: 0px;
}

button:hover {
    cursor: pointer;
}

#next span {
    color: white;
    padding: 2px 10px 3px 10px;
    border-radius: 100px;
    background-color: #c4a4cf;
}

#next span:hover {
    color: #c4a4cf;
    background-color: white;
    border: 1px solid #c4a4cf;
}

#next span {
    padding-left: 12px;
    padding-bottom: 5px;
}

/* CAROUSEL END  */

/* FRUIT AND VEG START */
.fruit-and-veg-div {
    margin: 15% 0 20%;
}

.fruit-and-veg-col1,
.fruit-and-veg-col2 {
    background-color: #a226cc;
    padding: 10% 5% 5%;
    width: 95%;
    margin: auto;
    height: 12rem;
    text-align: center;
}

.fruit-and-veg-link {
    text-decoration: none;
}

.fruit-and-veg-col1 {
    border-radius: 12px 12px 0 0;
}

.fruit-and-veg-img1,
.fruit-and-veg-img2 {
    width: 60%;
}

.fruit-and-veg-col2 {
    border-radius: 0 0 12px 12px;
    margin-top: 5%;
}

.fruit-and-veg-text1,
.fruit-and-veg-text2 {
    font-size: 2rem;
    color: white;
}

.fruit-and-veg-text1,
.fruit-and-veg-text2 {
    margin-top: 10%;
}

/* FRUIT AND VEG END */


/* RAW FRUITS START  */
.raw-fruits {
    background-color: white;
    border-radius: 16px;
    padding: 8%;
    width: 100%;
    margin: 10% auto 5%;
}

.raw-fruits-header {
    font-size: 1.1rem;
    font-weight: 500;
}

.raw-fruit-header-img {
    width: 1.5rem;
    margin: 0 0 5% 2%;
}

.raw-fruit-img {
    width: 2rem;
    display: block;
}

.raw-fruits-body {
    color: rgb(51, 51, 51);
    font-weight: 450;
}

/* RAW FRUITS END  */


/* RAW VEGETABLES START  */
.raw-vegetables {
    background-color: white;
    border-radius: 16px;
    padding: 8%;
    width: 100%;
    margin: 10% auto 5%;
}

.raw-vegetables-header {
    font-weight: 500;
}

.raw-vegetable-header-img {
    width: 1.5rem;
    margin: 0 0 5% 2%;
}

.raw-vegetable-img {
    width: 2rem;
    display: block;
}

.raw-vegetable-body {
    color: rgb(51, 51, 51);
    font-weight: 450;
}

/* RAW VEGETABLES END  */

/* FIRST CONTAINER COL-1 END  */
/* FIRST CONTAINER COL-2 START */
.second-col-header {
    margin: 10% 0 5%;
    font-size: 1.4rem;
    font-weight: 500;
}

.today-container {
    padding: 5%;
    border-radius: 12px;
}

.today-header {
    font-size: 1.2rem;
}

.todays-date {
    text-align: justify;
}

.total-calories {
    float: right;
}

/* TODAY MEALS  */
.container.todays-meals {
    padding: 0 5%;
    margin-top: 10%;
}

.meal-card {
    margin-top: 5%;
}

.meal-text {
    font-weight: 500;
    margin-top: .2rem;
}

.meal-type {
    font-size: .8rem;
}

.meal-calories {
    float: right;
    font-size: .9rem;
}

.img-fluid {
    width: 4rem;
    border-radius: 6px;
}

/* FIRST CONTAINER COL-2 END */






/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */
/*  */


/* PC MEDIA QUERY */
@media (min-width: 992px) {
    body {
        background-color: #a226cc !important;
        padding: 2% 5%;
    }

    .phone {
        display: none;
    }

    .pc {
        display: block;
    }

    /* HEADER  */
    .dash-div {
        border-radius: 32px;
        padding: 1rem 1rem 1.5rem;
    }

    .navbar-username {
        color: black;
    }

    .navbar {
        width: 90%;
    }

    /* SEARCH BAR  */
    .form {
        width: 30rem;
        margin: auto;
    }

    /* SEARCH BAR  END*/

    /* FIRST CONTAINER  */
    /* FIRST CONTAINER COL-1 START */
    .first-container-gif {
        width: 100%;
        margin: auto;
    }

    .first-container-header-div {
        padding: 12% 5% 0;
        text-align: left;
    }

    .btn.first-container-text {
        margin: 5% 3% 0 0;
    }

    /* LEARN MORE  */
    .learn-more-div {
        padding: 5% 0;
    }

    .calory-eaten-div,
    .col-12.log-diet-col,
    .col-12.graph-image-col {
        background-color: white;
        padding: 5%;
    }

    .calory-eaten-div {
        border-radius: 12px 6px 6px 12px;
    }

    .log-diet-img {
        width: 100%;
    }

    .col-12.log-diet-col {
        border-radius: 6px 12px 6px 6px;
        margin: 0;
        color: black;
    }

    .log-diet-link a {
        font-weight: 500;
        color: blue;
    }

    .col-12.graph-image-col {
        border-radius: 6px 6px 12px 6px;
    }

    /* LEARN MORE END */

    /* CALORY EATEN START  */
    .calory-eaten-header {
        font-weight: 500;
    }

    .calory-eaten-card {
        margin-top: 5%;
    }

    .calory-eaten-text {
        margin-top: .4rem;
        font-weight: 500;
    }

    .calory-eaten-type {
        font-size: .8rem;
    }

    .calory-eaten-calories {
        float: right;
        font-size: .9rem;
    }

    /* CALORY EATEN END  */

    /* LOG DIET START  */
    .log-diet-img {
        width: 100%;
    }

    .col-12.graph-image-col {
        margin-top: 4%;
    }

    .graph-image {
        width: 80%;
        margin: 10%;
    }

    /* LOG DIET ENDS  */

    /* SECOND CONTAINER  */
    .second-container-div {
        margin: 0;
    }

    .food-header {
        padding-bottom: .5rem;
    }

    .food-types {
        padding: 0 2.5% 2%;
    }

    .btn.back-to-details,
    .btn.back-to-dashboard {
        margin-top: 20%;
    }

    /* SECOND CONTAINER END */

    /* CAROUSEL START */
    .slider-item {
        flex-basis: 15%;
    }

    .food-button.btn {
        width: 3.5rem;
    }

    .control {
        margin-top: 25%;
    }

    button:hover {
        cursor: pointer;
    }

    /* CAROUSEL END  */

    /* FRUIT AND VEG START */
    .fruit-and-veg-div {
        margin: 6% 0;
    }

    .fruit-and-veg-col1,
    .fruit-and-veg-col2 {
        background-color: #a226cc;
        padding: 5%;
        width: 80%;
        margin: auto;
        height: 20rem;
        text-align: center;
    }

    .fruit-and-veg-col2 {
        margin-top: 2%;
    }

    .fruit-and-veg-img1,
    .fruit-and-veg-img2 {
        width: 70%;
    }

    .fruit-and-veg-text1,
    .fruit-and-veg-text2 {
        font-size: 4rem;
        margin-top: 15%;
    }

    /* FRUIT AND VEG END */


    /* RAW FRUITS START  */
    .raw-fruits {
        padding: 5% 0 5% 10%;
        width: 90%;
        margin: 5% auto;
    }

    .raw-fruit-img {
        width: 2rem;
        display: inline;
    }

    /* RAW FRUITS END  */


    /* RAW VEGETABLES START  */
    .raw-vegetables {
        padding: 5% 0 5% 10%;
        width: 90%;
        margin: 5% auto;
    }

    .raw-vegetable-img {
        width: 2rem;
        display: inline;
    }

    /* RAW VEGETABLES END  */

    /* FIRST CONTAINER COL-1 END  */
    /* FIRST CONTAINER COL-2 START */
    div.second-col {
        padding-left: 15%;
    }

    /* TODAY MEALS  */
    .container.todays-meals {
        padding: 0;
    }

    /* FIRST CONTAINER COL-2 END */
}